@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.navbar{
    padding-bottom: 30px;
    margin-right: 10%;
    text-align: right;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    padding: 5px 20px;
    color: #3C3C3C;
    display: inline-block;
    font-weight: 600;
}
.navbar ul li a:hover{
    color: crimson;
}
.top{
    height: 500px;
    padding-bottom: 100px;
}
.crimson{
    color: crimson;
}
.dark_b{
    color: #363958;
}
.half_width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}
.half_width h1{
    font-size: 45px;
    padding: 0;
}
.half_width p{
    font-size: 18px;
    text-align: justify;
    color: #1a1919;
}
.half_width a{
    background-color: crimson;
    padding: 15px 35px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    position: absolute;
    margin-top: 5px;
}
.half_width img{
    width: 100%;
}
.project_list{
    height: 700px;
    width: 100%;
    text-align: center;
    background-color: #F8F9FC;
    display: inline-block;
}
.heading{
    padding: 50px;
}
.heading h1{
    font-size: 35px;
}
.project{
    width: 25%;
    height: 350px;
    margin-left: 5%;
    padding: 10px;
    float: left;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 40px #a8a8a8;
}
.project h3{
    color: crimson;
}
.project img{
    width: 100%;
    margin-top: 10px;
}
.contact{
    height: 600px;
    width: 100%;
    text-align: center;
}
.orange{
    color: orange;
}
.contact h1{
    padding-top: 25px;
    font-size: 40px;
    font-weight: 600;
    color: crimson;
}
.input_list input{
    font-family: 'Poppins', sans-serif;
    height: 30px;
    width: 40%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 15px;
    outline: none;
    border: none;
    color: #363958;
    box-shadow: 3px 2px 11px -2px #a8a8a8;
}
.input_list textarea{
    font-family: 'Poppins', sans-serif;
    width: 40%;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 15px;
    outline: none;
    border: none;
    color: #363958;
    box-shadow: 10px 10px 40px #a8a8a8;
}
#button{
    margin-top: 15px;
    background-color: crimson;
    padding: 15px 35px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    position: absolute;
    margin-top: 5px;
    margin-left:-51px;
}
.work_inquiry{
    width: 70%;
    margin: 0 auto;
    position: relative;
}
.work_inquiry img{
    width: 100%;
    
}
#live_chat_text{
    position: absolute;
    top: 20%;
    left: 90px;
    color: #ffffff;
    font-size: 30px;
}
#live_chat_button{
    position: absolute;
    top: 38%;
    right: 225px;
}
#live_chat_button a{
    background-color: orange;
    width: 100px;
    text-align: center;
    padding: 15px 35px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    position: absolute;
}
#social{
    margin-top: 80px;
    text-align: center;
}
#social h3{
    color: #696871;
    font-size: 25px;
}
#social h2{
    color: #363958;
    font-size: 32px;
}
.icon{
    display: inline;
}
.icon img{
    width: 40px;
    padding-right: 20px;
}
footer{
    margin-top: 20px;
    text-align: center;
    font-weight: 500;
    background-color: #dddddd;
    padding: 10px 0;
}
